// colors
$font-color--dark: #2e2e2e;
$font-color--gray: #666;
$font-color--light: #fff;
$background--light: #fff;
$tap-highlight: #ea4c88;
$red: #b10000;
$dark-red: #85020a;

// spacing
$full-space: 15pt;
$half-space: 6pt;

// font sizing
$font-size--sm: 10px;
$font-size--md: 12pt;
$font-size--lg: 14px;
